/* Global CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&family=Source+Sans+Pro:wght@700&display=swap');

*{
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Poppins',sans-serif;
    font-size: 36px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    
}

h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}



.container{
    max-width: 1920px;
    width: 100%;
    display: block;
    margin: 0 auto;
}


.clear{
    display: block;
    content: '';
    width: 100%;
    clear: both;
}


.overlay{
    /* background: url('../assests/images/photo.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 1075px;
    background: linear-gradient(to right,#9d9bb9cc,#bdbcdacc,#8f8eaccc),url('../assests/images/photo.png');
}

/* .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #9c9ab9;
} */


.logo{
    float: left;
    /* font-family: Source Sans Pro,sans-serif; */
    padding-left: 19.8%;
    padding-top: 37px;
    font-size: 24px;
    font-weight: 700;

}

.nav_bar{
    padding-bottom: 230px;
}

.nav{
    float: right;
    
    margin-right: 18%;
    margin-top: 1.3%;
    border: 1px solid #8f8eac;
    padding: 11px 20px;
    
}

.nav:hover{
    border: 1px solid white;
  
}

/* Second Section */

.second_sec{
    margin-left: 260px;
    border: 14px solid red;
    width: 615px;
    padding: 60px 0 72px 109px;

}

.topTitle h3{
    font-size: 36px;
    color: white;

}

.topTitle p{
    width: 768px;
    font-size: 21px;
    padding-bottom: 40px;
}




.subtitle h4{
    width: 677px;
    font-size: 72px;
    color: #726bb1;
    line-height: 90px;
    padding-bottom: 26px;

}

.download h5{
    font-size: 18px;
    color: #222222;
    position: relative;
    
}

.box{
    border: 1px solid white;
    width: 48px;
    height: 48px;
    background-color: white;
    position: absolute;
    transform: translate(122%,-20%);
}

.eva h1{
    font-size: 505px;
    color: #545454;
    position: absolute;
    width: 165%;
    opacity: 0.4;
    overflow: hidden;
}


.eva{
    top: 0;
    left: 2%;
    transform: translate(750px,-550px);
    
}

.fir_vector{
    position: absolute;
    top: 80%;
    left: 0%;
    transform: translate(160px,80px);
}

.sec_vector{
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(370px,180px);
}   

.third_vector{
    position: absolute;
    top: 80%;
    left: 0%;
    transform: translate(1080px,100px);
}

.fourth_vector{
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(400px,0%);
}

.fifth_vector{
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(1250px,0px);

}

.main1{
    position: relative;
    width: 100%;
    /*  padding-left: -50%; */
}

.rotateEva{
    float: left;
    transform: rotate(270deg);
    margin-top: 13%;
    margin-left: 4%;

}

.rotateEva h2{
    font-size: 136px;
    color: #726bb1;
    font-weight: 800;
    filter: drop-shadow(0px 12px 15px rgba(6,7,7,0.12));
}

.bigE h1{
    font-size: 848px;
    color: #f5f9fd;
    font-family: "Poppins";
    
}

.bigE{
    position: absolute;
    top: -290px;
    left: 10%;

    z-index: -1;
    transform: rotate(180deg);
}

.middleTitle{
    float: left;
    padding-top: 6%;
    width: 27%;
    margin-left: -3%;
    
}
.mtitle h4{
    text-align: left;
   
}

.mtitle h4{
    font-size: 60px;
    color: #222222;
    font-weight: 800;
    line-height: 80px;
    padding-bottom: 41px;
    width: 100%;
   
}


.middleSubTitle{
    width: 82%;
    padding-bottom: 90px;
}


.middleSubTitle p{
    font-size: 21px;
    font-weight: 600;
    color: #555555;
    text-align: justify;
}

.mRead{
    float: right;
    padding-right: 22%;
    padding-bottom: 60px;
}

.mRead h5{
    font-size: 18px;
    font-weight: 600;
    margin-top: -14%;
}

.mReadBox{
    border: 1px solid #cfccff;
    height: 48px;
    width: 48px;
    position: absolute;
    background-color: #cfccff;
    z-index: -1;
    transform: translate(379px,-70%);
}

.lastSection{
    float: left;
    width: 30%;
    margin-left: -2.4%;
}

.man_photo .Img img{
    margin-top: -13%;
}



.lastTxt p{
    color: #555555;
    font-size: 18px;
    padding-left: 5%;
    width: 100%;
    text-align: justify;
  
}


/* Main2 Section */

.bg_main2{

    background-color: #f5f9fd;
    height: 673px;
}

.best_blog{
    float: left;
    width: 50%;
    /* background-color: #f5f9fd; */
}

.blog_title h4{
    padding-left: 38%;
    padding-top: 14%;
    color: #726bb1;
    font-weight: 800;
    font-size: 42px;
    padding-bottom: 59px;
}

.blog_title p{
    padding-left: 38%;
    font-size: 21px;
    color: #555555;
    width: 100%;
    padding-bottom: 24px;
}

.blog_imgs{
   padding-left: 34%;
}


.whybest{
    float: left;
    padding-top: 7.6%;
    width: 28%;
    margin-left: 5%;
    
}

.why1_img, .why2_img, .why3_img{
    float: left;
}

.why1_txts,.why2_txts,.why3_txts{
    font-size: 18px;
    margin-left: 15%;
    color: #222222;
    padding-bottom: 6%;
}

.why1_txts p,.why2_txts p,.why3_txts p{
    color:#555555;
    padding-top: 3%;

}

.section4{
    padding-top: 8.5%;
    width: 100%;
    padding-bottom: 3%;
    padding-left: 20%;
}

.sec4_Title h3{
    font-size: 48px;
    color: #726bb1;
    width: 41%;
    font-weight: 600;
    line-height: 55px;
    padding-bottom: 50px;
}

.sec4_subTitle h5{
    font-size: 21px;
    width: 35%;
    color: #555555;
    padding-bottom: 38px;
}

.sec4_para p{
    font-size: 18px;
    width: 32%;
    text-align: justify;
    color: #555555; 
    margin-left: 0%;
}

.first_both{
  float: left;
  padding-top: 2%;
  
    

}

.first_both img{
    padding-top: 4%;
}

.both_imgs{
   position: absolute;
   left: 25%;
   transform: translate(500px,-320px);
}


.all_projects{
    text-align: right;
    padding-right: 30%;
    position: relative;
    top: -80px;
}



.allpro_name h5{
    font-size: 18px;
    display: inline-block;

}


#i i{
    padding: 0% 1% 0.3%;
    box-shadow: 0px 1px 1px 0px black ;
    border: 1px solid black;
    
}

/* Section 5 */

.section5{
    position: relative;
    

}

.overlay1{
    padding-top: 1%;
    padding-left: 1%;
    background: linear-gradient(to right,#9294a948,#c0a7b448,#c0a7b448,#d8d7e848),url('../assests/images/bg_evana1.png');
    height: 740px;
    background-repeat: no-repeat;
    background-size: cover;

}

.nameEva h1{
    font-size: 383px;
    color: #222222;
    padding-left: 4%;
    float: left;
    opacity: 0.2;
}

.sec5Title{
    width: 40%;
    color: white;
    padding-top: 10%;
    position: absolute;
    top: 0;
    left: 0;
    
    transform: translate(150%,0%);

}

.sec5Title h3{
    font-size: 60px;
    width: 45%;
    font-weight: 600;
    text-align: right;
    line-height: 75px;

}

.sec5_subTitle p{
    padding-top: 52px;
    font-size: 21px;
    width: 105%;
    margin-left: -15%;
    padding-right: 45%;
    line-height: 40px;
    text-align: right;
}


.rect{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #cabde180;
    background-color: #cabde180;
    height: 388px;
    width: 228px;
    transform: translate(320%,20%);
}

.sec5_btn{
    float: left;
    padding: 71px 0px 0% 2%;
    
}

.sec5_btn i{
    font-size: 34px;
}

.contain{
    padding-left: 24%;
    font-size: 22px;
}

.contain:hover i{
    color: red;
}

.contain:hover h4{
    color: black;
}

.contain a{
    color: white;
}


/* Section 6 */

.section6{
    padding-top: 3%;
    background-color: white;
}

.sec6Title{
    text-align: center;
  
}

.sec6Title h4{
    font-size: 42px;
    color: #726bb1;
}

.sec6SubTitle p{
    font-size: 21px;
    color: #555555;
    width: 527px;
    display: block;
    margin: 0 auto;
    padding-top: 1.5%;
}


.first_card{
    width: 42%;
    float: left;
    box-shadow: 0px 0px 60px -40px  black;
    padding: 50px;
}


.topCards{
    padding-top: 5%;
    padding-left:13%;
}

.bottomCards{
    padding-left: 13%;
    padding-top: 20%;
}
.first_logo_card{

    float: left;
    padding-right: 4%;
}

.body_txt{
    padding-left: 12%;
    width: 75%;
    text-align: left;
}

.first_card{
    margin-right: 2%;
    border-top: 3px solid #cfcbff;
}

.First_card_read h5{
    display: inline-block;
}

.First_card_read{
    padding-left: 10%;
}

.First_card_read h5{
    font-size: 16px;
}

.First_card_read i{
    font-size: 29px;
    padding: 0% 1% 0% 1.5%;
    border: 1px solid black;
    box-shadow: 0px 1px 1px 0px black;
}

.First_card_read{
   
    color: #222222;
    padding-top: 48px;
    font-weight: bold;
    padding-left: 12%;
}


.Title_txt h4{
    font-size: 21px;
    color: #222222;
    padding-left: 12%;
    padding-bottom: 30px;
}

.body_txt p{
    font-size: 18px;
    color: #555555;
    width: 140%;

}


.second_card{
    width: 42%;
    float: left;
    box-shadow: 0px 0px 60px -40px  black;
    border-top: 3px solid #cfcbff;
    padding: 50px 50px 54px 50px;
}

.second_logo_card{
    float: left;
    padding-right: 4%;
}

.second_body_txt{
    padding-left: 12%;
    width: 77%;
    text-align: left;
}



.Second_card_read{
    color: #222222;
    padding-top: 48px;
    
}

.Second_card_read i{
    font-size: 29px;
    padding: 0% 1% 0% 1.5%;
    border: 1px solid black;
    box-shadow: 0px 1px 1px 0px black;
    
   
}

.Second_card_read h5{
    display: inline-block;
    padding-left: 1%;
    font-size: 16px;
}

.Second_card_read{
    padding-left: 12%;
}

.second_Title_txt h4{
    font-size: 21px;
    color: #222222;
    padding-left: 12%;
    padding-bottom: 4%;
}

.second_body_txt p{
    font-size: 18px;
    color: #555555;
    width: 140%;
    text-align: left;
    
}

#h4{
    padding-left: 13%;
}

#p{
    padding-left: 2%;
}

.plant_main{
    position: relative;

}

.plant{
    background: linear-gradient(to right, #b1b0bfaa,#b3b3c4aa,#c1bcc964,#57607248,#a6a5b4cc),url('../assests/images/plant.png');
    
    height: 501px;
    width: 1044px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(85%,85%);
    
    
}
.bottom_Title{
    padding-left: 17%;
    padding-top: 12%;
    position: relative;
    z-index: 1;
}

.bottom_Title_h3 h3{
    font-weight: 600;   
}

.bottom_Title_h3{
    font-size: 48px;
    color: #222222;
    width: 45%;
    padding-bottom: 75px;
  

}

.bottom_subTitle h5{
    font-size: 21px;
    color: #555555;
    font-weight: thin;
}

.bottom_para{
    float: left;
}

.bottom_para p{
    font-size: 18px;
    color: #555555;
    padding-top: 44px;
}

.bottom_subTitle{
    width: 28%;
}

.mRead1{
        padding-top: 10%;
        float: left;
        padding-left: 6%;
        position: relative;


}

.mRead1 h5{
    font-size: 18px;
    color: #222222;
}

.mReadBox1{
    border: 1px solid #cfccff;
    height: 48px;
    width: 48px;
    position: absolute;
    background-color: #cfccff;
    z-index: -1;
    transform: translate(950px,175px);
}

/* Section 7 */

.team_Title{
    text-align: center;
    padding-top: 141px;
}

.team_Title h3{
    font-size: 42px;
    color: #726bb1;
    font-weight: 400;
}

.team_subTitle p{
    font-size: 21px;
    color: #555555;
    padding-top: 1%;
    width: 29%;
    display: block;
    margin: 0 auto;
}



.team_imgs{
    padding-top: 4%;
}

.team_imgs h5{
    font-size: 18px;
    color: #222222;
}

.team_imgs p{
    font-size: 16px;
    color: #222222;
}

.txt_right{
    float: right;
    transform: rotate(270deg);
    margin-top: 10%;
    margin-left: -10%;
    text-align: right;
}

.txt_left{
    float: left;
    transform: rotate(270deg);
    margin-left: -25%;
    margin-top: 57%;
}

.txt_left1{
    float: left;
    transform: rotate(270deg);
    margin-left: -20%;
    margin-top: 62%;
}

.imgs1{
    float: left;
    padding-left: 392px;
    /* padding-right: 32px; */
}

.imgs2{
    float: left;
    padding-top: 238px;
    margin-left: -7%;
    
    /* padding-right: 32px; */
}

.imgs3{
    float: left;
    margin-left: -2%;

}   

.imgs4{
    float: left;
    padding-top: 238px;
    margin-left: -7%;

}

/* Section 8 */


.comments{
    padding-top: 91px;
    text-align: center;
    background-color: #f5f9fd;
    margin-top: 33%;
   height: 577px;
}

.cTitle h3{
    font-size: 36px;
    color: #222222;
    padding-top: 2%;
    
}

.comment_name_main{
    padding-top: 67px;
    padding-left: 8%;

}


.r_shift{
    float: right;
}

.r_shift:hover i{
    color: lightblue;
}

.l_shift a{
    color: #cccccc;
}

.r_shift a{
    color: black;
}

.l_shift{
    float: left;
   
}

.comment_subTitle p{
    width: 41%;
    font-size: 18px;
    color: #7d7e7f;
    display: block;
    margin: 0 auto;
    padding-top: 38px;
    font-style: italic;
}

.comment_name h5{
    font-size: 18px;
    color: #222222;
    
}

.name_desg{
    float:left;
    padding-left: 23px;
}

.comment_desg p{
    font-size: 16px;
    color: #555555;
}

.comment_img img{
    float: left;    
    padding-left: 40%;
}

/* Section 9 */

.sec9_Title{
    text-align: center;
    padding-top: 74px;
}

.sec9_Title h4,p{
    display: block;
    margin: 0 auto;

}

.sec9_Title h4{
    font-size: 30px;
    color: #222222;
    width: 30%;
}

.sec9_subTitle p{
    font-size: 18px;
    color: #555555;
    width: 30%;
 
    padding-top: 33px;
   
}

.email{

    padding-top: 38px;
    padding-left: 30%;


}


.email_id input{
    width: 560px;
    height: 61px;
    box-shadow: 0px 0px 60px -25px  black;
    border-color: white;
    border-top: white;
    font-size: 18px;
    border-left: white;

}


.email_id{
    float: left;
  
}

.enter{
    float: left;

}

.enter button{
    width: 194px;
    height: 60px;
    font-size: 18px;
    background-color: #cfcbff;
    cursor: pointer;
    color: #222222;
    font-weight: 700;
  
    border-color: white;
    border-top: white;
    border-left: white;
}

::placeholder{
    font-size: 18px;
}


/* News Section */

.latest_news,.latest_news_sub{
    text-align: center;
}

.latest_news h4{
    font-size: 42px;
    color: #726bb1;
    font-weight: 400;
    padding-top: 80px;
}

.latest_news_sub p{
    font-size: 21px;
    color: #555555;
    width: 32%;
    padding-top: 2%;
 
}

.news_read{
    padding-left: 376px;
    padding-top: 73px;
}

.read1{
    margin-right: 6%;
}

.read2{
    margin-right: 6%;
}

.read1,.read2,.read3{
    float: left;
    width: 20%;


}

.read_title h5{
    padding-top: 8%;
    font-size: 18px;
    width: 120%;
    padding-bottom: 8%;
}

.read_date{
    float: left;
  
}

.read_wrap{
    border-top: 1px solid #e5e5e5;
    padding-top: 6%;
    margin-right: -12%;
}



.read_date p{
    font-size: 16px;
    color: #222222;
}

.read_readmore{
    float: right;
    /* margin-right: -12%; */
}

.read_readmore h5{
    font-size: 14px;

}

/*  Footer Section  */

footer{
    margin-top: 27%;
    padding-top: 5%;
    padding-bottom: 540px;
    background-color: #f5f9fd;
}
.f_left{
    padding-left: 19%;

}

.f_left{
    float: left;
}

.f_title_txt h4{
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
    color: #726bb1;
}

.f_subtitle{
    width: 407px;
    padding-bottom: 59px;
    padding-top: 51px;
}

.f_subtitle p{
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    color: #535554;

}

.f_icons a{
    color: black;
}

.f_ico1{
    float: left;
}

.f_ico2,.f_ico3,.f_ico4{
    float: left;
    padding-left: 5%;
}

.f_ico1:hover i{
    color: #3b5998;
}

.f_ico2:hover i{
    color: #1da1f2;
}

.f_ico3:hover i{
    color: #dd4b39
}

.f_ico4:hover i{
    color: #0077b5;
}

.copyright{
    padding-top: 91px;
}

.copyright p{
    font-size: 18px;
    color: #555555;
}

.middle1{
    float: left;
    padding-left: 108px;
}

.middle2{
    float: left;
    padding-left: 108px;
}

.middle1 h4,p{
    font-size: 18px;
   
}

.middle1 h4{
    padding-bottom: 30%;
}

.middle2 h4{
    padding-bottom: 30%;
}

.middle2 h4,p{
    font-size: 18px;
}

.middle1 p{
   padding-bottom: 18px;
}

.middle2 p{
    padding-bottom: 18px;
}

.photo_gallery{
    float: left;
    padding-left: 108px;
}

.gallery_title h4{
    font-size: 18px;
    padding-bottom: 40px;
    color: #222222;
}

.pho1{
    display: inline-block;

    
}

.pho2{
    display: inline-block;
}